@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: white;
    --header-color: white;
    --footer-color: rgb(24, 24, 24);
    --text-color: black;
    --another-text-color: white;
    --big-text-scale: 1.75em;
    --button-text-scale: 1em;
    --normal-text-scale: 0.9em;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--text-color);
}

a p{
    text-decoration: none;
}

a:-webkit-any-link{
    color: var(--text-color);
}


body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: max-content;
    background-color: var(--header-color);
    padding: 1vh 0px 1vh 0px;
    vertical-align: middle;
    border-style: solid;
    border-color: rgba(47, 47, 47, 0.785);
    border-width: 0px 0px 3px 0px;
    text-align: center;
    position: fixed;
    overflow-x: hidden;
}

header .logo h1{
    font-family: "PatuaOne", sans-serif;
    font-size: 5vh;
    display: inline;
    margin-right: 3vw;
    transition: 0.6s;
}

header .logo h1:hover{
    font-size: 5.2vh;
}

header .nav {
    list-style: none;
}

header nav {
    display: inline-block;
}

header .nav li {
    display: inline-block;
    font-size: 4vh;
    font-family: "Carlito";
    margin-right: 3vw;
    transition: 0.6s;
}

header .nav li:hover{
    font-size: 4.2vh;
}

header .nav li:last-child {
    margin-right: 0vw;
}

.container{
    background-position: center;
    background-size: cover;
    min-height:auto;
    height: max-content;
    width: 100vw;
    padding: 30px;
}

#container-1 {
    background-image: url("../images/bg_light.jpg");
    padding: 15vh 5vw 5vh 5vw;
    color: var(--another-text-color);
    font-size: var(--big-text-scale);
    font-family: 'Ubuntu';
    width: 90vw;
    overflow-x: hidden;
}
#container-2 {
    background-color: var(--bg-color);
    padding: 5vw;
    color: var(--text-color);
    font-size: var(--big-text-scale);
    font-family: 'Ubuntu';
    width: 90vw;
    overflow-x: hidden;
}

#container-3 {
    padding: 5vw;
    color: var(--text-color);
    font-size: var(--big-text-scale);
    font-family: 'Ubuntu';
    width: 90vw;
    overflow-x: hidden;
    padding-top:0;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

hr {
    border-color: rgb(148, 0, 216);
}

.what-new {
    margin-bottom: 2vh;
}

#container-2 p {
    font-size: var(--normal-text-scale);
}

#container-3 p {
    font-size: var(--normal-text-scale);
}

.code {
    display: inline-block;
    border-radius: 7.5px;
    background-color: rgb(77, 77, 77);
    padding: 0.5vh 0.75vw 0.5vh 0.75vw;
    color: white;
    margin: 0.5vh 0vw 0.5vh 0vw;
    font-family: 'Source Code Pro', sans-serif;
    width: 80vw;
    word-wrap: break-word;
}

#container-3 .code{
    font-size: 0.6em;
}

.b1 {
    display: inline-block;
    font-size: var(--big-text-scale);
    font-size: calc(var(--big-text-scale) * 0.75);
}

.b2 {
    display: inline-block;
    font-size: var(--big-text-scale);
    font-size: calc(var(--big-text-scale) * 0.4);
}

button {
    font-size: var(--button-text-scale);
    width: 15vw;
    border-radius: 2vh;
    background-color: rgb(47, 61, 255);
    color: var(--another-text-color);
    font-family: 'Ubuntu';
    height: 8vh;
}

.auto-download-box{
    width: max-content;
    height: max-content;
    text-align: center;
    display: inline-block;
    margin-right: 1vw;
}

.download_button {
    width: 25vw;
    height: max-content;
    text-align: left;
    padding: 1vh 1vw;
    border-radius: 5px;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.auto-download {
    padding: 0vh 1.5vw 0vh 1.5vw;
    height: 8vh;
    width: max-content;
    display: inline-block;
}

.small-btn-text{
    font-size: calc(var(--button-text-scale) * 0.5);
}

.other-versions-text{
    font-size: calc(var(--button-text-scale) * 0.6);
    color: var(--another-text-color);
}


footer{
    position: static;
    height: max-content;
    background-color: var(--footer-color);
    padding: 5vh 5vw 5vh 5vw;
    color: var(--another-text-color);
    font-family: 'Ubuntu';
    overflow-x: hidden;
}

footer a:-webkit-any-link{
    color: var(--another-text-color);
}

.theme-switch {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 1vw;
    right: 1vw;
    background-image: url("../images/dark_mode.png");
    background-size:cover;

    transition: 1s;
}

@media (max-width: 1024px){
    .auto-download {
        padding: 0vh 2vw 0vh 2vw;
        height: 10vh;
    }
}

@media (max-width: 768px){
    .auto-download {
        padding: 0.5vh 2vw 0.5vh 2vw;
        height: max-content;
    }

    .download_button {
        width: 50vw;
        height: max-content;
        text-align: left;
        padding: 1vh 1vw;
        border-radius: 5px;
        margin-right: 2vh;
        margin-bottom: 2vh;
    }

    #container-1 {
        padding: 15vh 5vw 5vh 5vw;
        width: 90vw;
        overflow-x: hidden;
    }

    header .logo h1{
        font-family: "PatuaOne", sans-serif;
        font-size: 4vh;
        display: block;
        margin-right: 3vw;
        transition: 0.6s;
    }
    
    header .logo h1:hover{
        font-size: 4vh;
    }

    header .nav li {
        display: inline-block;
        font-size: 3vh;
        font-family: "Carlito";
        margin-right: 3vw;
        transition: 0.6s;
    }
    
    header .nav li:hover{
        font-size: 3.2vh;
    }

    :root {
        --big-text-scale: 2em;
    }

    .small-btn-text {
        font-size: calc(var(--button-text-scale)* 0.6);
    }
}

@media (max-width: 420px){
    .auto-download {
        padding: 0.5vh 2vw 0.5vh 2vw;
        height: max-content;
    }

    .download_button {
        width: 80vw;
        height: max-content;
        text-align: left;
        padding: 1vh 1vw;
        border-radius: 5px;
        margin-right: 2vh;
        margin-bottom: 2vh;
    }

    #container-1 {
        padding: 15vh 5vw 5vh 5vw;
        width: 90vw;
        overflow-x: hidden;
    }

    header .logo h1{
        font-family: "PatuaOne", sans-serif;
        font-size: 4vh;
        display: block;
        margin-right: 3vw;
        transition: 0.6s;
    }
    
    header .logo h1:hover{
        font-size: 4vh;
    }

    header .nav li {
        display: inline-block;
        font-size: 3vh;
        font-family: "Carlito";
        margin-right: 3vw;
        transition: 0.6s;
    }
    
    header .nav li:hover{
        font-size: 3.2vh;
    }

    :root {
        --big-text-scale: 1.75em;
        --button-text-scale: 0.9em;
    }

    .small-btn-text {
        font-size: calc(var(--button-text-scale)* 0.75);
    }

    .b1 {
        font-size: calc(var(--big-text-scale)* 0.6);
    }

    .other-versions-text {
        margin-top: 0.5vh;
        font-size: calc(var(--button-text-scale)* 0.7);
    }
}